.jumbotron {
  background-size: auto;
  background-color: darkslateblue;

}

.card {
  background-color: lightsteelblue;
  
}

img {
  width: 310px;
  height: 380px;
  border-radius: 20%;
  margin: auto;
  display: block;
}

.column1 {
  width: 600px;
  float: left;
  border-width: 1px;
  margin: 12px;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;
  border-radius: 15px;
}

.column2 {
  width: 350px;
  float: right;
  border-width: 1px;
  margin: 12px;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;
  border-radius: 15px;
}